.DS_Store
BaseLineCheck/~$安全基线检查.pptx
KBDownloadandInstall/~$Microsoft Update Catalog 补丁下载工具.pptx
KBDownloadandInstall/.~Microsoft Update Catalog 补丁下载工具.pptx
/KBDownloadandInstall/patches
/BaseLineCheck/SecurityCheck_V5依赖win7-win8
